<div class="container-fluid m-0 jumbotron">
    <div class="row">
        <div class="col-lg-6">
            <p>This page is made by Puskás Gellért</p>
        </div>
        <div class="col-lg-6">
            <p>All right reserved</p>
        </div>
    </div>
    


</div>