<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Pelso Porta</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pictures">Képek </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Szolgáltatások</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/book">Foglalás</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/lounge">Értékelések</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Kapcsolat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/me">Én</a>
            </li>
            
          </ul>
          
        </div>
      </nav>