<% include partials/head %>

<% include partials/messages %>
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name%>, <%= email%>  </p>
<a href="/lounge" class="btn"> Go to the lounge </a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>


<% include partials/bottom %>