<% include partials/head %>
<% include partials/nav %>
<ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
        <li class="breadcrumb-item active">Me</li>
      </ol>
<div class="jumbotron">
        <h1 class="display-3">My datas:</h1>
        <hr class="my-4">
        <h3 class="mb-5">My username: <%= name %></h3>
        <h3 class="mb-5">My e-mail: <%= email %></h3>
        <h3><%= fn %></h3>
</div>
<% include partials/bottom %>