<% include partials/nav %>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item active">Képek</li>
  </ol>

  <link rel="stylesheet" href="css/style.css">

      <section id="picture_viewer">
              <img id="arrow_right" src="./icons/arrow.png">
              <img id="arrow_left" src="./icons/arrow.png">
          <img id="picture_viewer_close_button" src="./icons/close.png" >
          <img src="" id="picture_viewer_image">
      </section>
  
      <section class="container" id="picture_container">
          <!-- <div class="row mb-3"> -->
            <div class="row">
              <%for (let i = 1; i < 19; i++) {%>
                <img class="col-md-4 mb-2" src="<%=i%>.jpg">
            <%}%>
            </div>
          
          
      </section>

     

      
      
