
<% include partials/nav %>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item active">Pricing</li>
  </ol>
<table class="table table-hover mt-5">
    <thead>
      <tr class="table-primary">
        <th scope="col">Services</th>
        <th scope="col">Availablity / Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-danger">
        <th scope="row">Animals </th>
        <td>x</td>
      </tr>
      <tr class="table-success">
        <th scope="row">Bed</th>
        <td>6 person</td>
      </tr>
      <tr class="table-danger">
        <th scope="row">Primary</th>
        <td>Column content</td>

      </tr>
      <tr class="table-success">
        <th scope="row">Secondary</th>
        <td>Column content</td>
      </tr>
      <tr class="table-success">
        <th scope="row">Success</th>
        <td>Column content</td>

      </tr>
      <tr class="table-danger">
        <th scope="row">Danger</th>
        <td>Column content</td>

      </tr>
      <tr class="table-success">
        <th scope="row">Warning</th>
        <td>Column content</td>

      </tr>
      <tr class="table-success">
        <th scope="row">Info</th>
        <td>Column content</td>

      </tr>
      <tr class="table-success">
        <th scope="row">Light</th>
        <td>Column content</td>

      </tr>
      <tr class="table-danger">
        <th scope="row">Dark</th>
        <td>Column content</td>

      </tr>
    </tbody>
  </table>
