
<% include partials/nav %>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item active">Pricing</li>
  </ol>
<table class="table table-hover mt-5">
    <thead>
      <tr class="table-primary">
        <th scope="col">Services</th>
        <th scope="col">Availablity / Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-success">
        <th scope="row">Alapterület </th>
        <td>75 m2</td>
      </tr>
      <tr class="table-success">
        <th scope="row">Ágy</th>
        <td>4 (2 francia, 3 egyszemélyes)</td>
      </tr>
      <tr class="table-danger">
        <th scope="row">Kutya</th>
        <td>x</td>

      </tr>
      <tr class="table-success">
        <th scope="row">Nappali</th>
        <td>1</td>
      </tr>
      <tr class="table-success">
        <th scope="row">Étkező</th>
        <td>1</td>

      </tr>
      <tr class="table-success">
        <th scope="row">Udvar</th>
        <td>1</td>

      </tr>
      <tr class="table-success">
        <th scope="row">Terasz</th>
        <td>1</td>

      </tr>
      <tr class="table-success">
        <th scope="row">Televízió</th>
        <td>1</td>

      </tr>
      <tr class="table-success">
        <th scope="row">Mosdó, toalett</th>
        <td>1-1</td>

      </tr>
      <tr class="table-success">
        <th scope="row">Parkolás</th>
        <td>Ingyenes</td>

      </tr>
      <tr class="table-success">
          <th scope="row">WI-FI</th>
          <td>Ingyenes</td>
  
        </tr>
        <tr class="table-success">
            <th scope="row">Parkolás</th>
            <td>Ingyenes</td>
    
        </tr>
    </tbody>
  </table>
